language: python

python:
  - 3.6

addons:
  postgresql: "9.6"

env:
  global:
    - PGUSER=postgres
    # PYPI_USER
    - secure: "zH5xVVio5ZhAqN/1UaJ8bdAajv0XT5Uuh2rR81kWYB6rBVZ/+nBe4sZKOqD0xfl0InlrdNOI1kfGFgy3R7k3q1z3NiCV5EpL70FnaVNiq/PvMwAvKH3CiNR/uQHnykOjOuqg69sTxMLqYdFiGL9/Dl+vru3qjvmswAJWogvq2r/nFmqr4KWE6hdTk4yvVEBzHUvdvwqdMnERsUMcPYZalkZ2VbxqCB65FRM0Fl0Ga1SZAQPp3k8p4IoCCd76oRFqCWkd9xn6EQ8SdNvZJqcQJeE52sb0AyFsT91O8dK9l8iRVekvH8gmmN/f092iVpPfPi0WghHsrmhArwM3ACiQvfjlNmD+JSqcmfvuzp9CPVzuFDGJ4PvnjbumaN2mdS4iNrivuAUEpwyXJQvO+1bXcQE9VnG2QXOZFy7GLivR3JkMI2op4Ylr3bInB7+IT+DkshFVsql6iBlSxr0rtbLe/zQm/EWGnVeKqg7r6N9SvrkD0LbJFLXnwFOmIl8iRI7pM6MpUgUCOsL67QC6XjIKqlO8q/vkxdjqujgVC70yiDC5LDj20gk0Vzsik8nI3BBXEWHQWVPague/1HfCz8TDeoGhmScoxPpxU23OKNLoy5RhWPr8dS6u7n5L2C0ryb36TWQiwxuECK4SxGcJxuEIOLslnfZ2CyuI6nfZb3AmV2A="
    # PYPI_PASSWORD
    - secure: "LxlWMAM/ueaqFa9DqR2JBMgkApIQ/YZtB65oMIFO7FIzfOLvefiD5+5Irl6RGNwmBz875egiqjvrA1QXiBIEPq/vP1uj6wZcMpAOfLH6JLgjo73OwPHWBEh27xfTaBj2L6z+8T0XB3SJcL9wvr5yvPq2LDgE+B8CCXeAVgAxnivA8zYd8NM9eCqfgiiGbvLuPAlFZ2r7OmebPJrHzx9/oMZ3Hmco6Hu53E8HtZYCwEWTaj1jcMHREv4UMMAoWNvYx6vNyLvgGwA6sg0pBiwNN/2AneOs8G2NZHfhvu/HT1FRj9JYFmrz/kxQHMHSnjZdyJE6PV1wLTljgzl5TBD+/NYUbEdBs9R7hRNVdHhPEBlua73Pd96dnlxswK36xDNuCIYTsLoecM4MAVbcQzZIZHlaTZpYXq2g/y8AfphC/81QZghIbqxJaiMRm/DsCD/n4Dpo03fGSYjltxzN4GcfApkkS1gMUGFr/p9H58CVhXEcJf5T5pz2Pok3t/iqrAJOLkjn4gMWKI+K1AC2c8zVA6cm8K2j0+OUpxUzR+tx6Ij1cQdly9eyW/DJEwddaU4yATG2pdIr542oRbpnaNf4F5Q10bP896wilHbZM61F/AHzDy2oHcu/iMX2xaovD/nXyTdDTHq9Ee7TnVPbkgs5nhCFCwuErIfEv4TCQf+TS8w="
    # GH_TOKEN to push API docs
    - secure: "jYePkfPWC/zfdFR0GIgsPtWaJy6sio4QILcl7eWySPmiC6NPKpV33FaCn/hpBw4F9BhjRO4Hn6gGW0Tu10MY3RmNnnCJSLiTTeMv2teXWh2Xc3bLEeXVGJMiJBhlQyM1PRf0cVpLqG+r4sv++ehl2izBimkX0RB5OCEQHslVtuIOilshyniVZ9AInBKRNzvT02+CIeIuI2WLpgf+xBjyTWbQSJBDGMxrPcJMiE3UzufMSpmE7ooWTTw5b6B8SumvkbER7Iqu1Ms1VrV7lnyeKe+9mwmc8SYtGdCTu8k3/5l3d3++CTE09Od4fXTIGmxrrCUUp7cueLkQm2nEpdGj93Q+hgU21kSAhpNupsdseeKz2SKT6skwnCi0C7HPu0qX7B5qteqtEbgsBnGV9K+lHAuH6psksLDO9g1w6ipCZJwL8L1vOCMHVSt3urvYBc52Ms2lh7rO0iPj0TvF/qUncORlneL5HJcInAAHecV9A2UCuahMtqgFBUeD+3FxmmF+h+p2t0fo1m4s+/yUMtECMjfqQdM6CgxVHCqg/JoRccQHkexwSwnkT7RvJ8HhtLsd/GyTCdcVCTQNgb+JtL02GAvOmI5+1sl+gew0WTSoIMexivSJ3Y1yFuLI2fOTJh5K20BzEaBY97JdFcgvh3DzxlvUaL7DgAHWUbeGMyY+fO8="

install: pip install -r requirements.txt


script:
  - ./.ci/setup_db.sh
  - ./test/test_join.sh
  - nosetests -v
  - ./docs/build_deploy.sh

deploy:
  provider: script
  script:
    -  ./.deploy/deploy_to_pypi.sh
  on:
    tags: true


