name: Build and deploy docs


on:
  release:

jobs:
  docs:
    name: Deploy documentation
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/heads/master')

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9

    - name: Install requirements
      run: |
        pip install -r requirements.txt
        pip install -r docs/requirements.txt

    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: pip-${{ hashFiles('requirements.txt') }}-${{ hashFiles('docs/requirements.txt') }}
        restore-keys: |
          pip-${{ hashFiles('requirements.txt') }}
          pip-

    - name: Setup pirogue
      run: |
        python -m pip install -e .
        pirogue -v

    - name: Build docs
      run: |
        VERSION=${GITHUB_REF:-0.0.0}
        export VERSION=${VERSION##*/}
        cd docs
        sed -i "s/__VERSION__/${VERSION}/" conf.py
        make html

    - name: Deploy to GitHub Pages
      run: |
        python -m pip install ghp-import
        ghp-import --force --no-jekyll --push docs/_build/html
