name: Run tests and release

on:
  push:
    tags:
    branches:
      - master
      - ci**
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        pg-version: ['9.6', '10', '11']
      fail-fast: true

    # Service containers to run with `runner-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres:${{ matrix.pg-version }}
        # Provide the password for postgres
        env:
          POSTGRES_USER: pirogue
          POSTGRES_PASSWORD: 1234
          POSTGRES_DB: pirogue_test_db
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    env:
      PGUSER: postgres

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install requirements
      run: |
        pip install -r requirements.txt
        pip install -r test/requirements.txt

    - name: Setup pirogue
      run: |
        VERSION=${GITHUB_REF:-0.0.0}
        VERSION=${VERSION##*/}
        sed -i "s/__VERSION__/${VERSION}/g" setup.py
        python setup.py install
        pirogue -v

    - name: Setup tests
      run: |
        printf "[pirogue_test]\nhost=localhost\ndbname=pirogue_test_db\nuser=pirogue\npassword=1234\n\n" >> ~/.pg_service.conf
        PGSERVICE=pirogue_test psql --quiet -v ON_ERROR_STOP=on -f test/demo_data.sql

    - name: Run bash tests
      run: |
        ./test/test_simple_inheritance.sh

    - name: Run Python tests
      run: nose2 -v

  docs:
    name: Deploy documentation
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/heads/master')
    needs: ['test']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install requirements
      run: |
        pip install -r requirements.txt
        pip install -r docs/requirements.txt
    - name: Setup pirogue
      run: |
        VERSION=${GITHUB_REF:-0.0.0}
        VERSION=${VERSION##*/}
        sed -i "s/__VERSION__/${VERSION}/g" setup.py
        python setup.py install
        pirogue -v

    - name: Build docs
      run: ./docs/build_deploy.sh

    - name: Deploy to GitHub Pages
      run: |
        python -m pip install ghp-import
        ghp-import --force --no-jekyll --push docs/_build/html

  deploy:
    name: Deploy to PyPi
    runs-on: ubuntu-latest
    needs: ['test']
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install requirements
      run: |
        pip install -r requirements.txt
    - name: Setup pirogue
      run: |
        VERSION=${GITHUB_REF:-0.0.0}
        VERSION=${VERSION##*/}
        sed -i "s/__VERSION__/${VERSION}/g" setup.py
        python setup.py install
        pirogue -v
    - name: Deploy to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}

