name: Run tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
  workflow_call:


jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        pg-version: ['9.6', '10', '11']
      fail-fast: true

    # Service containers to run with `runner-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres:${{ matrix.pg-version }}
        # Provide the password for postgres
        env:
          POSTGRES_USER: pirogue
          POSTGRES_PASSWORD: 1234
          POSTGRES_DB: pirogue_test_db
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    env:
      PGUSER: postgres

    steps:
      - name: Get source code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          cache: "pip"
          cache-dependency-path: "requirements*.txt"

      - name: Install requirements
        run: |
          pip install -r requirements.txt
          pip install -r requirements-test.txt

      - name: Install pirogue
        run: python -m pip install -e .

      - name: Setup tests
        run: |
          printf "[pirogue_test]\nhost=localhost\ndbname=pirogue_test_db\nuser=pirogue\npassword=1234\n\n" >> ~/.pg_service.conf
          PGSERVICE=pirogue_test psql --quiet -v ON_ERROR_STOP=on -f test/demo_data.sql

      - name: Run bash tests
        run: ./test/test_simple_inheritance.sh

      - name: Run Python tests
        run: nose2 -v


